<div class="container">
  <h1><%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= bookmark.movie.title %>
      <%= image_tag bookmark.movie.poster_url, alt: "Movie Poster", width: 200 %>
      <p>Rating: <%= bookmark.movie.rating %></p>
      <%= link_to "Delete movie",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  </ul>
  <% end %>
  <hr>
  <%= link_to "Add Movie to List", new_list_bookmark_path(@list) %>
  <%= link_to "Back to lists", lists_path %>
</div>
